body {
    background-color: #333333;
    color: #efefef;
}

* {
    font-family: sans-serif;
}

tt, pre {
    font-family: monospace;
}

h1, h2, h3 {
    color: darkorange;
}

a {
    color: darksalmon;
}